name: CI Pipeline

env:
  CONFIG_REPO_NAME: argocd-demo-config
  DOCKER_REGISTRY: docker.io
  DOCKER_REPO_R : ajay996/demo-helm-app
  
on:
  push:
    branches:
      - 'main'

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "building and testing the app ..."

  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Login to Docker registry by docker
      run: |
        docker login  "${{ env.DOCKER_REGISTRY }}" -u "${{ secrets.DOCKERHUB_USERNAME }}" -p ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Result Application Build Image Using docker
      run: |
        docker build -t "${{ env.DOCKER_REPO_R }}":latest WebApplication1/.
        docker tag "${{ env.DOCKER_REPO_R }}":latest "${{ env.DOCKER_REPO_R }}":${{ github.sha }}
        docker push  "${{ env.DOCKER_REPOR }}":${{ github.sha }}

  promote-to-dev-environment:
    runs-on: ubuntu-latest
    needs: docker-build-push
    steps:
      - run: |
          echo "promoting into dev environment!"
          git config --global user.email ajay996kumar@gmail.com && git config --global user.name ajay996
          echo "cloning config repo $CONFIG_REPO_NAME"
          git clone https://oauth2:${{ secrets.GH_PAT }}@github.com/${{ github.repository_owner }}/$CONFIG_REPO_NAME.git
          cd $CONFIG_REPO_NAME
          echo "checkout main branch"
          git checkout main
          echo "updating image tag in values file"
          sed -i "s,tag:.*,tag:\ ${{ github.sha }}," helm/webapp/values.yaml
          git add . && git commit -m "update image tag"
          git push

